/*probleme, la tête du skieur et le soleil sont aussi des cercles*/

/*Trampoline */
#tissueTrampoline {
  fill:greenyellow;
}

#TrampolineFoot{
  fill: black;
}
/*Explosions */
#smoke {animation: col 4s ;
    animation-delay: 10s;}

@keyframes col {
  0%,50% {fill:yellow}
  50%,75% {fill:orange}
  75%,100% {fill:red}
}
