/* fiche de style de l'animation "test.svg" */

#début {
  stroke:black;
  stroke-width:2;
}

#piste1 {
  stroke:red;
  stroke-width:2;
  fill:transparent;
}
#piste2 {
  stroke:green;
  stroke-width:2;
  fill:transparent;
}
#piste3 {
  stroke:yellow;
  stroke-width:2;
  fill:transparent;
}
#piste4 {
  stroke:blue;
  stroke-width:2;
  fill:transparent;
}

#tremplin {
  stroke:black;
  stroke-width:2;
  fill:transparent;
}

#vol {
  stroke:transparent;
  stroke-width:2;
}
