/* fiche de style de l'animation "test.svg" */

#début {
  stroke:green;
  stroke-width:2;
}

#piste {
  stroke:red;
  stroke-width:2;
  fill:transparent;
}


#tremplin {
  stroke:black;
  stroke-width:2;
  fill:transparent;
}

#vol {
  stroke:blue;
  stroke-width:2;
}
